In [14]:
import pandas as pd

In [2]:
import glob

path = r'C:\Users\adeol\Desktop\COncordia University books\Spring Semester\New data\full_dataset_clean.tsv\xaw_data\all_output.csv'
all_files = glob.glob(path + "/*.csv")

all_data = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    all_data.append(df)

data = pd.concat(all_data, axis=0, ignore_index=True)

In [3]:
def remove_url(row):
    txt = str(row['twitter_data']).split('https')[0]
    return txt

In [4]:
data['twitter_data'] = data.apply(remove_url, axis = 1)

In [5]:
data.twitter_data = data.twitter_data.str.replace(':', "\t")

In [6]:
data.twitter_data = data.twitter_data.str.replace('"', "")

In [7]:
data.twitter_data = data.twitter_data.str.split("\t")

In [8]:
new_data = pd.DataFrame(data['twitter_data'].tolist(),index = data.index)

In [9]:
new_data = new_data.iloc[::,0:5]

In [10]:
new_data.head()

,0,1,2,3,4
0,Fri Feb 05 10,16,46 +0000 2021,1357634263609393154,@welt Dazu mal einfach Fragen
1,Fri Feb 05 10,16,47 +0000 2021,1357634265157107712,@natalikor701 @Andrioswp \u043f\u0440\u0438 \...
2,Fri Feb 05 10,16,47 +0000 2021,1357634265719128064,@Helkoybut \ud83d\ude0f\ud83d\ude23
3,Fri Feb 05 10,16,47 +0000 2021,1357634267078131712,#WuhanVirusPandemic\n#GlobalVaccinesWoes \nIn...
4,Fri Feb 05 10,16,47 +0000 2021,1357634267392561156,\u7dba\u9e97\u306b\u4e0b\u304c\u308b\u304f\u3...

In [11]:
new_data.columns = [['Date','NA1','NA2','id','text']]

In [12]:
new_data.drop(['NA1','NA2'], inplace =True, axis = 1)

In [13]:
new_data.head()

,Date,id,text
0,Fri Feb 05 10,1357634263609393154,@welt Dazu mal einfach Fragen
1,Fri Feb 05 10,1357634265157107712,@natalikor701 @Andrioswp \u043f\u0440\u0438 \...
2,Fri Feb 05 10,1357634265719128064,@Helkoybut \ud83d\ude0f\ud83d\ude23
3,Fri Feb 05 10,1357634267078131712,#WuhanVirusPandemic\n#GlobalVaccinesWoes \nIn...
4,Fri Feb 05 10,1357634267392561156,\u7dba\u9e97\u306b\u4e0b\u304c\u308b\u304f\u3...

In [15]:
new_data.to_csv('apr_output_new.csv',index = False, index_label=False)